<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presention">
        <%= link_to 'HOME', root_path %>
      </li>
      <li role="presention">
        <%= link_to 'NEW', feeds_restaurants_path %>
      </li>
      <li role="presention" class="active">
        <%= link_to '美食達人', users_path %>
      </li>
    </ul>
  </div>
</div>

<br />

<div class="container">
  <div class="row">

    <ul>
      <% @users.each do |user| %>
        <div class="col-sm-4 col-md-3 text-center">

          <%= link_to user_path(user) do %>
            <div class="user-item">
              <div class="img-container">
                <%= image_tag(user.avatar, class: "img-rounded") %>
              </div>
            </div>
            <div class="captain">
              <h4><%= user.name %></h4>
            </div>
          <% end %>
          <%= render partial: "shared/follow", locals: {user: user} %>

          

        </div>
      <% end %>
    </ul>

  </div>
</div>